packages: [
  "aesthetic-ui"
  "aligner"
  "atom-beautify"
  "atom-material-syntax"
  "atom-material-ui"
  "ex-mode"
  "file-icons"
  "jshint"
  "language-babel"
  "language-haml"
  "merge-conflicts"
  "minimap"
  "minimap-autohide"
  "monokai"
  "native-ui"
  "package-sync"
  "pigments"
  "theme-toggler"
  "tomorrow-night-eighties-syntax"
  "vim-mode"
]
